.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}

.nav-start button{
    color: beige;
    background-color: black;
    border-radius:25px;
    padding: 10px 30px;
    cursor: pointer;
     border: 0;
    outline: 0;

}

.search-box {
    position: relative;
    border-radius:85px solid black ;
  }
  
  .search-box input[type="text"] {
    padding-right:80px; /* Adjust as per the size of the icon */
    height:65%;
    text-align: right;
    border-radius:85px solid black ;
  }
  
  .search-box .search-icon {
    position: absolute;
    top: 50%;
    left:5px;
    transform: translateY(-50%);
    color: #888; /* Adjust color as needed */
    cursor: pointer;
  }

  .hero{
    display: flex;
    justify-content: space-around;
    
}

.box{
    display: flex;
    flex-direction: column;

    align-items:space-between;
    margin-left:0;
    position:absolute;
    left: 0;
    height: 100vh;
}
.item {
margin-bottom:80px;
margin-left:0 ;


}
.hero .box{
  background-color:#FFFFFF;
  box-shadow: 0 1px 3px -2px black; 
}